---
import RootLayout from "@/layouts/RootLayout.astro";
import { SocialIcons } from "@/components/SocialIcons";
import Moving from "@/components/Moving.astro";
import { SITE } from "@/config";
const title = "AstroTheme";
const description = "I put all my romanticism".toUpperCase();
const author = "Author";
const time = "2020 - 2024";
---

<RootLayout title={SITE.title}>
	<div
		class="h-full w-full select-none bg-[url('/assets/background.png')] flex justify-center"
	>
		<div
			class="w-2/3 h-full z-1 flex flex-col justify-center content-center"
		>
			<div
				class="bg-[url('/assets/big-logo.png')] w-3/5 h-1/2 bg-contain bg-no-repeat bg-center self-center"
			>
			</div>
			<div
				class="text-5xl font-semibold self-center flex flex-col gap-y-1 text-[#2c3e50]"
			>
				<p class="self-center pt-5">思考-灵感-气球</p>
				<p class="self-center py-3">BNUZ ACM Team</p>
				<p class="self-center text-4xl">荣耀与梦想</p>
				<p class="self-center text-4xl">你我同创</p>
			</div>
		</div>
	</div>
</RootLayout>

<style>
	.1 {
	}
</style>
