---
import RootLayout from "@/layouts/RootLayout.astro";
const title = "ACM-ICPC校队成员";
---

<RootLayout title={title}>
    <div class="w-full h-full flex justify-center">
        <div class="w-2/5 h-full">
            <div class="text-3xl font-bold py-5">{title}</div>
        </div>
    </div>
</RootLayout>
