---

---

<footer class="flex justify-center w-full">
    <div class="mx-2 flex">
        <div class="xl:block hidden text-foreground/50 text-xs">
            Copyright ©2019-{new Date().getFullYear()} 北京师范大学珠海分校-ACM协会
            | 程序设计爱好者协会
        </div>
        <div class="xl:hidden block text-foreground/50 text-xs">
            Copyright ©{new Date().getFullYear()} 北京师范大学珠海分校-ACM协会
        </div>
    </div>
</footer>
